<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Location</th>
      <th>Start At</th>
      <th>Ticket Price</th>
      <th>Ticket Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>konkatsu</td>
      <td>Nice Konkatsu Event</td>
      <td>銀座</td>
      <td>2018/02/25 20:00</td>
      <td>5,000円</td>
      <td>50</td>
      <td><a>Show</a></td>
      <td><a>Edit</a></td>
      <td><a>Destroy</a></td>
    </tr>
    <tr>
      <td>koikatsu</td>
      <td>Fun Koikatsu Event</td>
      <td>池袋</td>
      <td>2018/02/25 18:00</td>
      <td>4,000円</td>
      <td>20</td>
      <td><a>Show</a></td>
      <td><a>Edit</a></td>
      <td><a>Destroy</a></td>
    </tr>
    <tr>
      <td>gourmet</td>
      <td>Gourmet Themed Event</td>
      <td>上野</td>
      <td>2018/02/25 12:00</td>
      <td>6,000円</td>
      <td>3</td>
      <td><a>Show</a></td>
      <td><a>Edit</a></td>
      <td><a>Destroy</a></td>
    </tr>
  </tbody>
</table>

<br>